{% extends "layout.html" %}

{% block title %}
    Predict
{% endblock %}

{% block main %}
    <form action="/predict" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="symbol" name="symbol" placeholder="Symbol" type="text">
        </div>
        <p>Choose a confidence value, from 0 to 100.</p>
        <div class="slidecontainer">
            <!-- Slider to allow changing certainty values, with labels of the current certainty value selected (default is 10)-->
            <div class="slider"><input type="range" min="0" max="100" value="10" class = "slider" oninput="rangeValue.innerText = this.value" name = "certainty"> <p id="rangeValue">10</p></div>
        </div>
        <button class="btn btn-primary" type="submit">Predict</button>
    </form>
{% endblock %}
